# MDK-ARM 编译输出目录
MDK-ARM/DeepMotor/

# STM32CubeMX 生成的驱动文件
Drivers/

# MDK-ARM 常见临时文件
*.o
*.d
*.crf
*.lst
*.dep
*.map
*.hex
*.bin
*.axf
*.lnp
*.sct
*.htm
*.build_log.htm
*.dep
*.iex
*.i
*.lst

# MDK-ARM IDE 配置文件
*.uvguix.*
*.uvoptx
*.scvd

# 其他临时文件
.DS_Store
*.swp
*.bak

# 调试文件
JLinkLog.txt
JLinkSettings.ini 